/* .ant-card-meta-title {
  text-overflow: unset !important;
  white-space: unset !important;
} */

/* In deiner CustomCard.css-Datei */

/* Standardstil für die Card */
.card-container {
  /* width: 150px; */
  height: fit-content;
  /* margin: 1rem;a */
  transition: transform 0.3s; /* Hinzufügen einer sanften Transition */

  /* box-shadow: 0 0 100px 5px #48abe0; */
}

/* Stiländerungen beim Hover auf Laptop-Bildschirmen */
@media (min-width: 840px) {
  .card-container:hover {
    transform: scale(1.07); /* Vergrößert die Card um 5% beim Hover */
  }
}

:where(.css-dev-only-do-not-override-2i2tap).ant-card .ant-card-body {
  padding: 0.5rem;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-card .ant-card-meta-title {
  /* hyphens: auto; */
  /* text-overflow: ellipsis; */
  white-space: pre-line;
  line-height: 1.5rem;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-card .ant-card-meta-detail {
  /* overflow: auto !important; */
  /* text-overflow: ellipsis; */
  /* white-space: pre-line; */
}

.ant-card-meta-title {
  /* white-space: pre-line; */
}
