/* AnimatedButton.css */

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px; /* Schriftgröße bleibt gleich */
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap; /* Text in einer Zeile halten */
}

/* Textfarbe bleibt gleich */
.btn-1 {
  font-weight: 100;
  color: #fff; /* Schriftfarbe bleibt gleich */
}

.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
